.tabbar_wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
  border-top: 1px solid #f4f4f4;
  /* background-color: wheat; */
}

.tabbar {
  height: 100%;
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: space-between;
  width: 400px;
}

.button {
  height: 100% !important;
  display: inline-flex !important;
  flex-direction: column !important;
  align-items: center !important;
  color: #1f1f21 !important;
  font-size: 0.7rem !important;
}

.button a {
  color: #1f1f21;
}

.button svg {
  font-size: 1.8em;
}
