.wrap {
  /* background-color: grey; */
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  width: 900px;
  /* background-color: cornsilk; */
  height: 100%;
}

.title {
  margin-top: 1.2em;
  margin-bottom: 1.8em;
  font-weight: normal;
  font-size: 1.1rem;
}

main {
  margin-bottom: 4rem;
  padding: 0 1rem;
}
